<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/weather.png">
    <title>Error</title>
</head>
<body>
    {{>headers}}
    <p>{{text}}</p>
    {{>footer}}
</body>
</html>