<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/img/weather.png">
        <link rel='stylesheet' href="./css/style.css"></link>
        <title>About :: Weather App</title>
    </head>
    <body>
        
        <div class="main-content">
            {{>headers}}
            <p>This site uses 2 API to fetch Forecast data:</p>
            <ul>
                <li>Mapbox : To fetch the location Co-ordinates for 2nd API used.</li>
                <li>DarkSky : To fetch the forecast data for the location specified by location Co-ordinates.</li>
            </ul>
            <img class = "portrait" src="/img/me.jpeg">        
        </div>
        {{>footer}}
    </body>
</html>